@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model JonLong.CRM.Web.Models.ArrivedListViewModel
@section head{
    <link rel="stylesheet" href="@Url.Content("~/Content/css/datepicker.css")" type="text/css" media="screen" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap-theme.min.css")" type="text/css" media="screen" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-datepicker.js")"></script>
}
<div class="content-box-header">
    <h3>
        Shipped
    </h3>

    <div class="clear">
    </div>
</div>
<!-- End .content-box-header -->
<div class="content-box-content">
    <div class="tab-content default-tab" id="tab1">
        <!-- This is the target div. id must match the href of this div's tab -->
        <div class="tab-content default-tab">
            @using (Html.BeginForm("Index", "Arrived", FormMethod.Post))
            {
                <div class="bulk-actions align-left">
                    ETD &nbsp;&nbsp;
                    <input id="StartETD" name="StartETD" class="datepicker" data-provide="datepicker" value="@Model.StartETD.ToString("yyyy/MM/dd")" type="text">
                    &nbsp;&nbsp;To &nbsp;&nbsp;
                    <input id="EndETD" name="EndETD" class="datepicker" data-provide="datepicker" value="@Model.EndETD.ToString("yyyy/MM/dd")" type="text">
                    &nbsp;&nbsp;Bundler.No &nbsp;&nbsp;
                    <input type="text" value="@Model.BundleNo" id="BundleNo" name="BundleNo" />
                    &nbsp;Container.No
                    <input type="text" value="@Model.Container" id="Container" name="Container" />
                    &nbsp;&nbsp;
                    <input type="submit" class="button" value="&nbsp;&nbsp;GO&nbsp;&nbsp;" />
                </div>
            }

            <div class="clear">
                <p></p>
            </div>

        </div>
        <table>
            <thead>
                <tr>
                    <th>

                    </th>
                    <th>
                        ETD
                    </th>
                    <th>
                        Bundler No.
                    </th>
                    <th>
                        Container
                    </th>
                    <th>
                        Container No.
                    </th>
                    <th>
                        % Filled
                    </th>
                    <th>
                        Sum (pairs)
                    </th>
                    <th>
                        Confirm
                    </th>
                    <th>
                        ConfirmDate
                    </th>
                    <th>
                        Contract No.
                    </th>
                    <th>
                        Invoice
                    </th>
                    <th>
                        Packing List
                    </th>
                    <th>
                        B/L
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    int j = 0;
                    string trclass = "";
                    string style = "";
                }
                @foreach (var item in Model.Items)
                {
                    if (j % 2 == 0)
                    {
                        trclass = "alt-row";
                    }
                    else
                    {
                        trclass = "";
                    }

                    <tr class="@trclass" style="@style">
                        <td>
                            <button onclick="loadDetail('@item.SendDate.ToString("yyyy-MM-dd")','@item.BundleNo','@item.ContainerNo','@item.Container','@item.Id', this);"
                                    class="button" title="Detail">
                                +
                            </button>
                        </td>
                        <td>
                            @item.SendDate.ToShortDateString()
                        </td>
                        <td>
                            @item.BundleNo
                        </td>
                        <td>
                            @item.ContainerNo
                        </td>
                        <td>
                            @item.Container
                        </td>
                        <td>
                            @item.Filled%
                        </td>
                        <td>
                            @item.SumPairs
                        </td>
                        <td>
                            @item.Confirm
                        </td>
                        <td>
                            @if (item.ConfirmDate.HasValue)
                            {
                                @item.ConfirmDate.Value.ToShortDateString()
                            }
                        </td>
                        <td>@item.ContractNo</td>
                        <td>
                            @if (!String.IsNullOrEmpty(item.Invoice))
                            {
                                <a href="@Url.Action("index", "Download", new { fileName = item.Invoice })" target="_blank">@item.InvoiceName</a>
                            }
                        </td>
                        <td>
                            @if (!String.IsNullOrEmpty(item.PackingList))
                            {
                                <a href="@Url.Action("index", "Download", new { fileName = item.PackingList })" target="_blank">Packing List</a>
                            }
                        </td>
                        <td>
                            @if (!String.IsNullOrEmpty(item.BL))
                            {
                                <a href="@Url.Action("index", "Download", new { fileName = item.BL })" target="_blank">B/L</a>
                            }

                        </td>
                    </tr>
                    <tr class="@item.Id" style="display:none">
                        <td colspan="13">
                            <div id="@item.Id"></div>
                        </td>
                    </tr>
                            j++;
                }

            </tbody>
        </table>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'yyyy/mm/dd',
            });
            //setETD('StartETD', '@Model.StartETD.ToString("yyyy-MM-dd")');
            //setETD('EndETD', '@Model.EndETD.ToString("yyyy-MM-dd")');
        });

        function setETD(id, selected) {
            var $input = $('#' + id).pickadate()
            var picker = $input.pickadate('picker');
            picker.set('select', selected, { format: 'yyyy-mm-dd' });
        }

        function loadDetail(sendDate, bundlerNo, containerNo, container, id, btn) {
            if ($(btn).text() == "-") {
                $("." + id).toggle();
                $(btn).html("+");
                return;
            }
            var detailDiv = $("#" + id);
            $.ajax({
                cache: false,
                type: "GET",
                url: "@Url.Action("Detail")",
                data: { etd: sendDate, bundlerNo: bundlerNo, containerNo: containerNo, container: container },
                success: function (data) {
                    detailDiv.html('');
                    detailDiv.html(data);
                    $("." + id).toggle();

                    if ($(btn).text() == "-") {
                        $(btn).html("+");
                    } else {
                        $(btn).text("-");
                    }

                    //$('#myModal').modal({ keyboard: true });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve detail.');
                }
            });
        }

    </script>
}





