@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model JonLong.CRM.Web.Models.PreLoadCabinetModel
<style>
    .table_b td {
        border: 1px solid #696969;
    }

    .table_b th {
        border: 1px solid #696969;
    }
</style>
<div class="content-box-header">
    <h3>
        Preload Cabinet
    </h3>

    <div class="clear">
    </div>
</div>

<div class="content-box-content">
    <div class="tab-content default-tab" id="tab1">
        <!-- This is the target div. id must match the href of this div's tab -->
        <div class="tab-content default-tab">

            <div class="bulk-actions align-left">
                Cabinet &nbsp;&nbsp;
                <select id="Cabinet">
                    <option value="28.32">20</option>
                    <option value="56.63">40</option>
                    <option value="65.13">40T</option>
                </select>
            </div>

            <div class="clear">
                <p></p>
            </div>
        </div>
        
    </div>
    <div class="content-box column-left">
        <div class="content-box-header">
            <h3>
                Content box left
            </h3>
        </div>
        <!-- End .content-box-header -->
        <div class="content-box-content">
            <div class="tab-content default-tab">
                <table class="table_b">
                    <tr class="alt-row">
                        <th>

                        </th>

                        @{
                            int sizeTypeCount = 18;
                            if (Model.ShoeSizes.Count < sizeTypeCount)
                            {
                                sizeTypeCount = Model.ShoeSizes.Count;
                            }
                        }
                        <th>Model No.</th>
                        <th>Total</th>
                        @for (int i = 0; i < sizeTypeCount; i++)
                        {
                            <th style="font-weight:200">
                                @Model.ShoeSizes[i]
                            </th>
                        }
                        <th>Original ETD</th>

                    </tr>
                    @{
                        int j = 0;
                        string trclass = "";
                    }
                    @foreach (var item in Model.Items)
                    {
                        if (j % 2 == 0)
                        {
                            trclass = "";
                        }
                        else
                        {
                            trclass = "alt-row";
                        }
                        <tr class="@trclass">
                            <td></td>
                            <td>@item.ModelNo</td>
                            <td>@item.Total</td>
                            <td>
                                @if (item.Size1 > 0)
                                {
                                    @item.Size1
                                }
                            </td>
                            <td>
                                @if (item.Size2 > 0)
                                {
                                    @item.Size2
                                }
                            </td>
                            <td>
                                @if (item.Size3 > 0)
                                {
                                    @item.Size3
                                }
                            </td>
                            <td>
                                @if (item.Size4 > 0)
                                {
                                    @item.Size4
                                }
                            </td>
                            <td>
                                @if (item.Size5 > 0)
                                {
                                    @item.Size5
                                }
                            </td>
                            <td>
                                @if (item.Size6 > 0)
                                {
                                    @item.Size6
                                }
                            </td>
                            <td>
                                @if (item.Size7 > 0)
                                {
                                    @item.Size7
                                }
                            </td>
                            <td>
                                @if (item.Size8 > 0)
                                {
                                    @item.Size8
                                }
                            </td>
                            <td>
                                @if (item.Size9 > 0)
                                {
                                    @item.Size9
                                }
                            </td>
                            <td>
                                @if (item.Size10 > 0)
                                {
                                    @item.Size10

                                }
                            </td>
                            <td>
                                @if (item.Size11 > 0)
                                {
                                    @item.Size11
                                }
                            </td>
                            <td>
                                @if (item.Size12 > 0)
                                {
                                    @item.Size12
                                }
                            </td>
                            <td>
                                @if (item.Size13 > 0)
                                {
                                    @item.Size13
                                }
                            </td>
                            <td>
                                @if (item.Size14 > 0)
                                {
                                    @item.Size14
                                }
                            </td>
                            <td>
                                @if (item.Size15 > 0)
                                {
                                    @item.Size15
                                }
                            </td>
                            <td>
                                @if (item.Size16 > 0)
                                {
                                    @item.Size16
                                }
                            </td>
                            <td>
                                @if (item.Size17 > 0)
                                {
                                    @item.Size17
                                }
                            </td>
                            <td>
                                @if (item.Size18 > 0)
                                {
                                    @item.Size18
                                }
                            </td>
                            <td>@item.SendDate.ToShortDateString()</td>
                        </tr>
                                j++;
                    }

                </table>
            </div>
            <!-- End #tab3 -->
        </div>
        <!-- End .content-box-content -->
    </div>
    <div class="content-box column-right closed-box">
        <div class="content-box-header">
            <!-- Add the class "closed" to the Content box header to have it closed by default -->
            <h3>
                Content box right
            </h3>
        </div>
        <!-- End .content-box-header -->
        <div class="content-box-content">
            <div class="tab-content default-tab">
                <h4>
                    This box is closed by default
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in porta lectus. Maecenas
                    dignissim enim quis ipsum mattis aliquet. Maecenas id velit et elit gravida bibendum.
                    Duis nec rutrum lorem. Donec egestas metus a risus euismod ultricies. Maecenas lacinia
                    orci at neque commodo commodo.
                </p>
            </div>
            <!-- End #tab3 -->
        </div>
        <!-- End .content-box-content -->
    </div>
</div>
<div class="clear">
</div>

