@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model JonLong.CRM.Web.Models.PreLoadCabinetModel
@section head{
    <link rel="stylesheet" href="@Url.Content("~/Content/css/datepicker.css")" type="text/css" media="screen" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap-theme.min.css")" type="text/css" media="screen" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-datepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/stickUp.min.js")"></script>
}
<style>
    .table_b td {
        border: 1px solid #696969;
    }

    .table_b th {
        border: 1px solid #696969;
    }
</style>
<div class="content-box-header">
    <h3>
        Cabinet Loading
    </h3>

    <div class="clear">
    </div>
</div>

<div class="content-box-content">
    <div class="tab-content default-tab" id="tab1">
        <!-- This is the target div. id must match the href of this div's tab -->
        <div class="tab-content default-tab">

            <div>
                <table class="table_b" style="width:80%">
                    <tr>
                        <td>Bundler No.</td>
                        <td>ETD</td>
                        <td>Cabinet</td>
                        <td>Filled:</td>
                    </tr>
                    <tr style="background-color: #d5ffc2;">
                        <td>@Model.Title.Bn</td>
                        <td>
                            @if (Model.Title.Fhrq.HasValue)
                            {
                                <input id="fhrq" class="datepicker" data-provide="datepicker" value="@Model.Title.Fhrq.Value.ToString("yyyy-MM-dd")" />
                            }
                            else
                            {
                                <input id="fhrq" class="datepicker" data-provide="datepicker" />
                            }
                        </td>
                        <td>
                            <select id="Cabinet">
                                @if (Model.Title.Gzlx == "20")
                                {
                                    <option value="20" selected="selected">20</option>
                                }
                                else
                                {
                                    <option value="20">20</option>
                                }
                                @if (Model.Title.Gzlx == "40T")
                                {
                                    <option value="40" selected="selected">40</option>
                                }
                                else
                                {
                                    <option value="40">40</option>
                                }

                                @if (Model.Title.Gzlx == "40T")
                                {
                                    <option value="40T" selected="selected">40T</option>
                                }
                                else
                                {
                                    <option value="40T">40T</option>
                                }

                            </select>
                        </td>
                        <td><label id="filled" style="font-weight:600">@Model.Title.Bfb%</label></td>
                    </tr>
                </table>
            </div>

            <div class="clear">
                <p></p>
            </div>
        </div>
        <div class="tab-content default-tab" id="stickup">
            <table class="table_b">
                <tr class="alt-row">
                    @{
                        int sizeTypeCount = 18;
                        if (Model.ShoeSizes.Count < sizeTypeCount)
                        {
                            sizeTypeCount = Model.ShoeSizes.Count;
                        }
                    }
                    <th>Bundler No.</th>
                    <th>ETD</th>
                    <th>Model No.</th>
                    <th style="width:50px">Total</th>
                    @for (int i = 0; i < sizeTypeCount; i++)
                    {
                    <th style="font-weight:200;width:50px">
                        @Model.ShoeSizes[i]
                    </th>
                    }
                    <th>Bundle No</th>
                    <th>Original ETD</th>

                </tr>
                @{
                    int m = 0;
                    string trclass1 = "";
                }
                @foreach (var item in Model.SavedItems)
                {
                    if (m % 2 == 0)
                    {
                        trclass1 = "";
                    }
                    else
                    {
                        trclass1 = "alt-row";
                    }
                <tr class="@trclass1">
                    <td>@item.BanderNo</td>
                    <td>@item.SendDate.ToString("yyyy-MM-dd")</td>
                    <td style="width:150px">@item.ModelNo</td>
                    <td>
                        @item.Total
                    </td>
                    <td>
                        @item.Size1
                    </td>
                    <td>@item.Size2</td>
                    <td>@item.Size3</td>
                    <td>@item.Size4</td>
                    <td>@item.Size5</td>
                    <td>
                        @item.Size6
                    </td>
                    <td>
                        @item.Size7
                    </td>
                    <td>
                        @item.Size8
                    </td>
                    <td>
                        @item.Size9
                    </td>
                    <td>
                        @item.Size10
                    </td>
                    <td>
                        @item.Size11
                    </td>
                    <td>
                        @item.Size12
                    </td>
                    <td>
                        @item.Size13
                    </td>
                    <td>
                        @item.Size14
                    </td>
                    <td>
                        @item.Size15
                    </td>
                    <td>
                        @item.Size16
                    </td>
                    <td>
                        @item.Size17
                    </td>
                    <td>
                        @item.Size18
                    </td>
                    <td>@item.BanderNo</td>
                    <td>@item.SendDate.ToShortDateString()</td>
                </tr>
                    m++;
                }

            </table>
        </div>

        <div class="clear">
            <p></p>
        </div>
        <div class="clear">
            <p></p>
        </div>
        <div class="tab-content default-tab">
            <table class="table_b">
                <tr style="background-color: #ffd6d6">

                    @{
                        sizeTypeCount = 18;
                        if (Model.ShoeSizes.Count < sizeTypeCount)
                        {
                            sizeTypeCount = Model.ShoeSizes.Count;
                        }
                    }
                    <th>Bundler No.</th>
                    <th>ETD</th>
                    <th>Model No.</th>
                    <th style="width:50px">Total</th>
                    @for (int i = 0; i < sizeTypeCount; i++)
                    {
                        <th style="font-weight:200;width:40px">
                            @Model.ShoeSizes[i]
                        </th>
                    }
                    <th>Bundle No</th>
                    <th>Original ETD</th>

                </tr>
                @{
                    int j = 0;
                    string trclass = "";
                }
                @foreach (var pair in Model.Items)
                {
                    if (j % 2 == 1)
                    {
                        trclass = "";
                    }
                    else
                    {
                        trclass = "alt-row";
                    }
                    var item = pair.Value.Origin;
                    <tr class="@trclass">
                        <td>
                            @item.BanderNo
                        </td>
                        <td>@item.SendDate.ToString("yyyy-MM-dd")</td>
                        <td id="@("modelNo"+j)" style="width:150px">@item.ModelNo</td>
                        <td>
                            @item.Total
                        </td>
                        <td id="@("td_pre"+j )">
                            @item.Size1
                        </td>
                        <td id="@("td_pre"+j )">@item.Size2</td>
                        <td id="@("td_pre"+j)">@item.Size3</td>
                        <td id="@("td_pre"+j)">@item.Size4</td>
                        <td id="@("td_pre"+j)">@item.Size5</td>
                        <td id="@("td_pre"+j )">
                            @item.Size6
                        </td>
                        <td id="@("td_pre"+j )">
                            @item.Size7
                        </td>
                        <td id="@("td_pre"+j )">
                            @item.Size8
                        </td>
                        <td id="@("td_pre"+j )">
                            @item.Size9
                        </td>
                        <td id="@("td_pre"+j )">
                            @item.Size10
                        </td>
                        <td id="@("td_pre"+j )">
                            @item.Size11
                        </td>
                        <td id="@("td_pre"+j )">
                            @item.Size12
                        </td>
                        <td id="@("td_pre"+j )">
                            @item.Size13
                        </td>
                        <td id="@("td_pre"+j)">
                            @item.Size14
                        </td>
                        <td id="@("td_pre"+j )">
                            @item.Size15
                        </td>
                        <td id="@("td_pre"+j )">
                            @item.Size16
                        </td>
                        <td id="@("td_pre"+j)">
                            @item.Size17
                        </td>
                        <td id="@("td_pre"+j )">
                            @item.Size18
                        </td>
                        <td id="@("banderno"+j)">@item.BanderNo</td>
                        <td id="@("sendDate"+j)">@item.SendDate.ToString("yyyy-MM-dd")</td>
                    </tr>
                    item = pair.Value.Loading;
                    <tr style="background-color: #d5ffc2;">
                        <td></td>
                        <td></td>
                        <td>Loading</td>
                        <td>
                            @item.Total
                        </td>
                        <td id="@("td_pre"+j +"_size1")">
                            @item.Size1
                        </td>
                        <td>@item.Size2</td>
                        <td>@item.Size3</td>
                        <td>@item.Size4</td>
                        <td>@item.Size5</td>
                        <td>
                            @item.Size6
                        </td>
                        <td>
                            @item.Size7
                        </td>
                        <td>
                            @item.Size8
                        </td>
                        <td>
                            @item.Size9
                        </td>
                        <td>
                            @item.Size10
                        </td>
                        <td>
                            @item.Size11
                        </td>
                        <td>
                            @item.Size12
                        </td>
                        <td>
                            @item.Size13
                        </td>
                        <td>
                            @item.Size14
                        </td>
                        <td>
                            @item.Size15
                        </td>
                        <td>
                            @item.Size16
                        </td>
                        <td>
                            @item.Size17
                        </td>
                        <td>
                            @item.Size18
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    var loadedItem = pair.Value.Loaded;
                    <tr style="background-color: #fcf9db; " id="@("loadDiv" +j )">
                        <td colspan="2" style="text-align:center"><a href="javascript:;" class="button" onclick="save(@j)">Save</a></td>
                        <td>Loaded</td>
                        <td>
                            <label id="@("pre" + j + "_total1")">@loadedItem.Total</label>
                            <input type="hidden" value="@loadedItem.Total" id="@("pre" + j + "_total")" />
                        </td>
                        <td>
                            <input class="small-input2" index="@j" value="@loadedItem.Size1" onchange="sizeChange(this)" id="@("pre"+j +"_size1")" />
                        </td>
                        <td>
                            <input class="small-input2" index="@j" value="@loadedItem.Size2" onchange="sizeChange(this)" id="@("pre"+j +"_size2")" type="text" />
                        </td>
                        <td>
                            <input class="small-input2" index="@j" value="@loadedItem.Size3" onchange="sizeChange(this)" id="@("pre"+j +"_size3")" type="text" />
                        </td>
                        <td>
                            <input class="small-input2" index="@j" value="@loadedItem.Size4" onchange="sizeChange(this)" id="@("pre"+j +"_size4")" type="text" />
                        </td>
                        <td>
                            <input class="small-input2" index="@j" value="@loadedItem.Size5" onchange="sizeChange(this)" id="@("pre"+j +"_size5")" type="text" />
                        </td>
                        <td>
                            <input class="small-input2" index="@j" value="@loadedItem.Size6" onchange="sizeChange(this)" id="@("pre"+j +"_size6")" type="text" />
                        </td>
                        <td>
                            <input class="small-input2" index="@j" value="@loadedItem.Size7" onchange="sizeChange(this)" id="@("pre"+j +"_size7")" type="text" />
                        </td>
                        <td>
                            <input class="small-input2" index="@j" value="@loadedItem.Size8" onchange="sizeChange(this)" id="@("pre"+j +"_size8")" type="text" />
                        </td>
                        <td>
                            <input class="small-input2" index="@j" value="@loadedItem.Size9" onchange="sizeChange(this)" id="@("pre"+j +"_size9")" type="text" />
                        </td>
                        <td>
                            <input class="small-input2" index="@j" value="@loadedItem.Size10" onchange="sizeChange(this)" id="@("pre"+j +"_size10")" type="text" />
                        </td>
                        <td>
                            <input class="small-input2" index="@j" value="@loadedItem.Size11" onchange="sizeChange(this)" id="@("pre"+j +"_size11")" type="text" />
                        </td>
                        <td>
                            <input class="small-input2" index="@j" value="@loadedItem.Size12" onchange="sizeChange(this)" id="@("pre"+j +"_size12")" type="text" />
                        </td>
                        <td>
                            <input class="small-input2" index="@j" value="@loadedItem.Size13" onchange="sizeChange(this)" id="@("pre"+j +"_size13")" type="text" />
                        </td>
                        <td>
                            <input class="small-input2" index="@j" value="@loadedItem.Size14" onchange="sizeChange(this)" id="@("pre"+j +"_size14")" type="text" />
                        </td>
                        <td>
                            <input class="small-input2" index="@j" value="@loadedItem.Size15" onchange="sizeChange(this)" id="@("pre"+j +"_size15")" type="text" />
                        </td>
                        <td>
                            <input class="small-input2" index="@j" value="@loadedItem.Size16" onchange="sizeChange(this)" id="@("pre"+j +"_size16")" type="text" />
                        </td>
                        <td>
                            <input class="small-input2" index="@j" value="@loadedItem.Size17" onchange="sizeChange(this)" id="@("pre"+j +"_size17")" type="text" />
                        </td>
                        <td>
                            <input class="small-input2" index="@j" value="@loadedItem.Size18" onchange="sizeChange(this)" id="@("pre"+j +"_size18")" type="text" />
                        </td>
                        <td>
                            <input type="hidden" id="@("pre"+j +"_id")" value="0" />
                        </td>

                        <td></td>
                    </tr>
                    j++;
                }

            </table>
        </div>
        <div class="clear">
            <p></p>
        </div>
        <div style="text-align:center">
            <p>
                <input class="button" type="button" onclick="finish();" value="Finish" />
            </p>
        </div>

    </div>

</div>
<div class="clear">
</div>
@section scripts{
    <script type="text/javascript">
        var guid = '@Model.Title.TGuid';

        jQuery(function ($) {
            $(document).ready(function () {
                $('#stickup').stickUp();
            });
        });

        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'yyyy/mm/dd',
                min:true
            });
        });

        function sizeChange(input) {
            var total = 0;
            if (input.value.length == 0) {
                $(input).val(0);
            } else if (!$.isNumeric(input.value)) {
                alert('Please input number.');
                return;
            }
            var origin = $("#td_pre" + input.id).text();
            if (input.value > parseInt(origin)) {
                alert("Your input is too much");
                $(input).val(0);
                return;
            }
            var index = $(input).attr("index");
            $("#loadDiv" + index + " input").each(function () {
                if (this.id != "pre" + index + "_total" && this.id != "pre" + index + "_id") {
                    total += +parseInt($(this).val());
                }
            });

            $("#pre" + index + "_total1").text(total);
            $("#pre" + index + "_total").val(total);
        }
        function preLoad(index, btn) {
            var detailDiv = $("#loadDiv" + index);
            $.ajax({
                cache: false,
                type: "GET",
                url: "@Url.Action("PreLoad")",
                data: { "index": index },
                success: function (data) {
                    detailDiv.html('');
                    detailDiv.html(data);
                    detailDiv.show();
                    $(btn).hide();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve detail.');
                }
            });

        }

        function save(index) {
            var containerNo = $("#Cabinet").val();
            var sendDate = $("#sendDate" + index).html();
            var bundlerNo = $("#banderno" + index).html();
            var modelNo = $("#modelNo" + index).html();
            var xhb = $("#xhb" + index).val();
            var prefix = "#pre" + index + "_size";
            var id = $("#pre" + index + "_id").val();
            var total = $("#pre" + index + "_total").val();
            var size1 = $(prefix + "1").val();
            var size2 = $(prefix + "2").val();
            var size3 = $(prefix + "3").val();
            var size4 = $(prefix + "4").val();
            var size5 = $(prefix + "5").val();
            var size6 = $(prefix + "6").val();
            var size7 = $(prefix + "7").val();
            var size8 = $(prefix + "8").val();
            var size9 = $(prefix + "9").val();
            var size10 = $(prefix + "10").val();
            var size11 = $(prefix + "11").val();
            var size12 = $(prefix + "12").val();
            var size13 = $(prefix + "13").val();
            var size14 = $(prefix + "14").val();
            var size15 = $(prefix + "15").val();
            var size16 = $(prefix + "16").val();
            var size17 = $(prefix + "17").val();
            var size18 = $(prefix + "18").val();

            if (total <= 0) {
                alert("The total must be more than 0.");
                return;
            }

            var datas = {
                Id: id, TGuid: guid, XHB: xhb, ModelNo: modelNo,
                Total: total, SendDate: sendDate, BanderNo: bundlerNo,
                ContainerType: containerNo, Size1: size1, Size2: size2,
                Size3: size3, Size4: size4, Size5: size5, Size6: size6, Size7: size7,
                Size8: size8, Size9: size9, Size10: size10, Size11: size11, Size12: size12,
                Size13: size13, Size14: size14, Size15: size15, Size16: size16, Size17: size17,
                Size18: size18
            };
            $.ajax({
                type: "POST",
                url: "@Url.Action("Save")",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(datas),
                success: function (data) {
                    if (data.IsSuccess) {
                        $("#filled").text(data.Filled + "%");
                        $("#pre" + index + "_id").val(data.Id);
                        alert("Success");
                    } else {
                        alert(data.Message);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve detail.');
                }
            });
        }

        function finish() {
            var containerNo = $("#Cabinet").val();
            var fhrq = $("#fhrq").val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("Confirm")",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ guid: guid, fhrq: fhrq, gz: containerNo }),
                success: function (data) {
                    if (data.IsSuccess) {
                        alert("Success");
                        location.href = "@Url.Action("Index")";
                    } else {
                        alert(data.Message);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to update data.');
                }
            });
        }
    </script>
}

