@{
    Layout = null;
}
@model JonLong.CRM.Web.Models.PreLoadCabinetItemModel
<td colspan="2" style="text-align:center">
@if (JonLong.CRM.Web.Common.AccountHelper.IsAllowed("PreLoadCabinet", "Save"))
{
    <a href="javascript:;" class="button" onclick="save(@Model.Index)">Save</a>
}
</td>
<td>
    <label id="@("pre" + Model.Index + "_total1")">0</label>
        <input type="hidden" value="0" id="@("pre" + Model.Index + "_total")" />
</td>
<td>
    <input class="small-input2" index="@Model.Index" value="0" onchange="sizeChange(this)" id="@("pre"+Model.Index +"_size1")" />
</td>
<td>
    <input class="small-input2" index="@Model.Index" value="0" onchange="sizeChange(this)" id="@("pre"+Model.Index +"_size2")" type="text" />
</td>
<td>
    <input class="small-input2" index="@Model.Index" value="0" onchange="sizeChange(this)" id="@("pre"+Model.Index +"_size3")" type="text" />
</td>
<td>
    <input class="small-input2" index="@Model.Index" value="0" onchange="sizeChange(this)" id="@("pre"+Model.Index +"_size4")" type="text" />
</td>
<td>
    <input class="small-input2" index="@Model.Index" value="0" onchange="sizeChange(this)" id="@("pre"+Model.Index +"_size5")" type="text" />
</td>
<td>
    <input class="small-input2" index="@Model.Index" value="0" onchange="sizeChange(this)" id="@("pre"+Model.Index +"_size6")" type="text" />
</td>
<td>
    <input class="small-input2" index="@Model.Index" value="0" onchange="sizeChange(this)" id="@("pre"+Model.Index +"_size7")" type="text" />
</td>
<td>
    <input class="small-input2" index="@Model.Index" value="0" onchange="sizeChange(this)" id="@("pre"+Model.Index +"_size8")" type="text" />
</td>
<td>
    <input class="small-input2" index="@Model.Index" value="0" onchange="sizeChange(this)" id="@("pre"+Model.Index +"_size9")" type="text" />
</td>
<td>
    <input class="small-input2" index="@Model.Index" value="0" onchange="sizeChange(this)" id="@("pre"+Model.Index +"_size10")" type="text" />
</td>
<td>
    <input class="small-input2" index="@Model.Index" value="0" onchange="sizeChange(this)" id="@("pre"+Model.Index +"_size11")" type="text" />
</td>
<td>
    <input class="small-input2" index="@Model.Index" value="0" onchange="sizeChange(this)" id="@("pre"+Model.Index +"_size12")" type="text" />
</td>
<td>
    <input class="small-input2" index="@Model.Index" value="0" onchange="sizeChange(this)" id="@("pre"+Model.Index +"_size13")" type="text" />
</td>
<td>
    <input class="small-input2" index="@Model.Index" value="0" onchange="sizeChange(this)" id="@("pre"+Model.Index +"_size14")" type="text" />
</td>
<td>
    <input class="small-input2" index="@Model.Index" value="0" onchange="sizeChange(this)" id="@("pre"+Model.Index +"_size15")" type="text" />
</td>
<td>
    <input class="small-input2" index="@Model.Index" value="0" onchange="sizeChange(this)" id="@("pre"+Model.Index +"_size16")" type="text" />
</td>
<td>
    <input class="small-input2" index="@Model.Index" value="0" onchange="sizeChange(this)" id="@("pre"+Model.Index +"_size17")" type="text" />
</td>
<td>
    <input class="small-input2" index="@Model.Index" value="0" onchange="sizeChange(this)" id="@("pre"+Model.Index +"_size18")" type="text" />
</td>
<td colspan="2">
    <input type="hidden" id="@("pre"+Model.Index +"_id")" value="0" />
</td>


