@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model JonLong.CRM.Web.Models.EnrouteListViewModel
@section head{

    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap-theme.min.css")" type="text/css" media="screen" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
}
<div class="content-box-header">
    <h3>
        En route
    </h3>

    <div class="clear">
    </div>
</div>
<!-- End .content-box-header -->
<div class="content-box-content">
    <div class="tab-content default-tab" id="tab1">
        <table>
            <thead>
                <tr>
                    <th>

                    </th>
                    <th>
                        ETD
                    </th>
                    <th>
                        Bundler No.
                    </th>
                    <th>
                        Container
                    </th>
                    <th>
                        Container No.
                    </th>
                    <th>
                        % Filled
                    </th>
                    <th>
                        Sum (pairs)
                    </th>
                    <th>
                        Received
                    </th>
                    <th>
                        Contract No.
                    </th>
                    <th>
                        Invoice
                    </th>
                    <th>
                        Packing List
                    </th>
                    <th>
                        B/L
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    int j = 0;
                    string trclass = "";
                    string style = "";
                }
                @foreach (var item in Model.Enroutes)
                {
                    if (j % 2 == 0)
                    {
                        trclass = "alt-row";
                    }
                    else
                    {
                        trclass = "";
                    }
                    <tr class="@trclass" style="@style">
                        <td>
                            <button onclick="loadDetail('@item.ETD.ToString("yyyy-MM-dd")','@item.BundleNo','@item.ContainerNo','@item.Container','@item.Id', this);"
                                    class="button" title="Detail">
                                +
                            </button>
                        </td>
                        <td>
                            @item.ETD.ToShortDateString()
                        </td>
                        <td>
                            @item.BundleNo
                        </td>
                        <td>
                            @item.Container
                        </td>
                        <td>
                            @item.ContainerNo
                        </td>
                        <td>
                            @item.Filled%
                        </td>
                        <td>
                            @item.SumPairs
                        </td>
                        <td>
                            <a href="javascript:;" onclick="received(@item.Id,'@item.BundleNo')" title="Received">
                                Received
                            </a>
                        </td>
                        <td>
                            @item.ContractNo
                        </td>
                        <td>
                            @if (!String.IsNullOrEmpty(item.Invoice))
                            {
                                <a href="@Url.Content(item.Invoice)" target="_blank">Download</a>
                            }
                        <td>
                            @if (!String.IsNullOrEmpty(item.PackingList))
                            {
                                <a href="@Url.Content(item.PackingList)" target="_blank">Download</a>
                            }
                        </td>
                        <td>
                            @if (!String.IsNullOrEmpty(item.BL))
                            {
                                <a href="@Url.Content(item.BL)" target="_blank">Download</a>
                            }
                        </td>
                    </tr>
                    <tr class="@item.Id" style="display:none">
                        <td colspan="12">
                            <div id="@item.Id"></div>
                        </td>
                    </tr>
                            j++;
                }

            </tbody>
        </table>
    </div>
</div>
@section scripts{
    <script>
        function received(id, bundleNo) {
            if (!confirm("Are you sure you have received?")) {
                return;
            }
            $.ajax({
                type: "POST",
                url: '@Url.Action("Receive") ',
                data: ({ id: id, bundleNo: bundleNo }),
                datatype: 'json',
                success: function (data) {
                    if (data != 1) {
                        alert(data);
                        return;
                    } else {
                        window.location.href = '@Url.Action("Index")';
                    }

                }
            });
        }

    function loadDetail(sendDate, bundlerNo, containerNo, container, id, btn) {
        if ($(btn).text() == "-") {
            $("." + id).toggle();
            $(btn).html("+");
            return;
        }
        var detailDiv = $("#" + id);
        $.ajax({
            cache: false,
            type: "GET",
            url: "@Url.Action("Detail")",
            data: { etd: sendDate, bundlerNo: bundlerNo, containerNo: containerNo, container: container },
        success: function (data) {
            detailDiv.html('');
            detailDiv.html(data);
            $("." + id).toggle();

            if ($(btn).text() == "-") {
                $(btn).html("+");
            } else {
                $(btn).text("-");
            }

            //$('#myModal').modal({ keyboard: true });
        },
        error: function (xhr, ajaxOptions, thrownError) {
            alert('Failed to retrieve detail.');
        }
    });
    }

    </script>
}