@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model JonLong.CRM.Web.Models.VarianceListViewModel
@section head{
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap-theme.min.css")" type="text/css" media="screen" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
}

<div class="clear">
</div>
<div class="content-box">
    <!-- Start Content Box -->
    <div class="content-box-header">
        <h3>
            Order Variance Reconciliation
        </h3>


        <div class="clear">
        </div>
    </div>

    <!-- End .content-box-header -->
    <div class="content-box-content">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#sectionA">Variance</a></li>
            <li><a data-toggle="tab" href="#Order">Order</a></li>
            <li>
                <a data-toggle="tab" href="#Shipments">Shipments</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="sectionA" class="tab-pane fade in active">
                <table>
                    <thead>
                        <tr>
                            <th>

                            </th>
                            <th>
                                ETD
                            </th>
                            <th>
                                Bundler No.
                            </th>
                            @if (Model.IsSuperAdmin)
                            {
                                <th>
                                    Customer
                                </th>
                            }
                            <th>
                                Container
                            </th>
                            <th>
                                Container No.
                            </th>
                            <th>
                                % Variance
                            </th>
                            <th>
                                Sum (pairs)
                            </th>
                            <th>
                                Contract No.
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int j = 0;
                            string trclass = "";
                            string style = "";
                        }
                        @foreach (var item in Model.Variances)
                        {
                            if (j % 2 == 0)
                            {
                                trclass = "alt-row";
                            }
                            else
                            {
                                trclass = "";
                            }

                            <tr class="@trclass" style="@style">
                                <td>

                                    <button onclick="loadDetail('@item.ETD.ToString("yyyy-MM-dd")', '@item.CustomerCode','@item.BundleNo','@item.ContainerType','@item.ContainerNo','@item.Id', this, '@item.TGuid');"
                                            class="button" title="Detail">
                                        +
                                    </button>
                                </td>
                                <td>
                                    @item.ETD.ToShortDateString()
                                </td>
                                <td>
                                    @item.BundleNo
                                </td>
                                @if (Model.IsSuperAdmin)
                                {
                                    <td>@item.KHJC</td>
                                }
                                <td>
                                    @item.ContainerType
                                </td>
                                <td>
                                    @item.ContainerNo
                                </td>
                                <td>
                                    @item.Variance%
                                </td>
                                <td>
                                    @item.SumPairs
                                </td>
                                <td>
                                    @item.ContractNo
                                </td>
                            </tr>
                            <tr class="@item.Id" style="display:none">
                                <td colspan="10">
                                    <div id="@item.Id"></div>
                                </td>
                            </tr>
                                j++;
                        }

                    </tbody>
                </table>
            </div>
            <div id="Order" class="tab-pane fade">
                <table>
                    <thead>
                        <tr>
                            <th>

                            </th>
                            <th>
                                ETD
                            </th>

                            <th>
                                Bundler No.
                            </th>
                            @if (Model.IsSuperAdmin)
                            {
                                <th>Customer</th>
                            }
                            <th>
                                Container
                            </th>
                            <th>
                                Container No.
                            </th>
                            <th>
                                Sum (pairs)
                            </th>
                            <th>
                                Contract No.
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int m = 0;
                            trclass = "";
                            style = "";
                        }
                        @foreach (var item in Model.Orders)
                        {
                            if (m % 2 == 0)
                            {
                                trclass = "alt-row";
                            }
                            else
                            {
                                trclass = "";
                            }

                            <tr class="@trclass" style="@style">
                                <td>

                                    <button onclick="loadOrderDetail('@item.ETD.ToString("yyyy-MM-dd")', '@item.CustomerCode','@item.BundleNo','@item.ContainerType','@item.ContainerNo','@item.Id', this);"
                                            class="button" title="Detail">
                                        +
                                    </button>
                                </td>
                                <td>
                                    @item.ETD.ToShortDateString()
                                </td>
                                <td>
                                    @item.BundleNo
                                </td>
                                @if(Model.IsSuperAdmin)
                                {
                                    <td>@item.CustomerName</td>
                                }
                                <td>
                                    @item.ContainerType
                                </td>
                                <td>
                                    @item.ContainerNo
                                </td>
                                <td>
                                    @item.SumPairs
                                </td>
                                <td>
                                    @item.ContractNo
                                </td>
                            </tr>
                            <tr class="@item.Id" style="display:none">
                                <td colspan="10">
                                    <div id="@("order" + item.Id)"></div>
                                </td>
                            </tr>
                            m++;
                        }

                    </tbody>
                </table>
            </div>
            <div id="Shipments" class="tab-pane fade">
                <table>
                    <thead>
                        <tr>
                            <th>

                            </th>
                            <th>
                                ETD
                            </th>

                            <th>
                                Bundler No.
                            </th>
                            @if(Model.IsSuperAdmin)
                            {
                                <th>Customer</th>
                            }
                            <th>
                                Container
                            </th>
                            <th>
                                Container No.
                            </th>
                            <th>
                                Sum (pairs)
                            </th>
                            <th>
                                Contract No.
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            m = 0;
                            trclass = "";
                            style = "";
                        }
                        @foreach (var item in Model.Shipments)
                        {
                            if (m % 2 == 0)
                            {
                                trclass = "alt-row";
                            }
                            else
                            {
                                trclass = "";
                            }

                            <tr class="@trclass" style="@style">
                                <td>

                                    <button onclick="loadShipmentDetail('@item.ETD.ToString("yyyy-MM-dd")', '@item.CustomerCode','@item.BundleNo','@item.ContainerType','@item.ContainerNo','@item.Id', this);"
                                            class="button" title="Detail">
                                        +
                                    </button>
                                </td>
                                <td>
                                    @item.ETD.ToShortDateString()
                                </td>
                                <td>
                                    @item.BundleNo
                                </td>
                                @if(Model.IsSuperAdmin)
                                {
                                    <td>@item.CustomerName</td>
                                }
                                <td>
                                    @item.ContainerType
                                </td>
                                <td>
                                    @item.ContainerNo
                                </td>
                                <td>
                                    @item.SumPairs
                                </td>
                                <td>
                                    @item.ContractNo
                                </td>
                            </tr>
                            <tr class="@item.Id" style="display:none">
                                <td colspan="10">
                                    <div id="@("shipment" + item.Id)"></div>
                                </td>
                            </tr>
                            m++;
                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <!-- End .content-box-content -->
</div>
@section scripts{
    <script type="text/javascript">
        function loadDetail(sendDate, customerCode, bundlerNo, containerType, container, id, btn, guid) {
            if ($(btn).text() == "-") {
                $("." + id).toggle();
                $(btn).html("+");
                return;
            }
            var detailDiv = $("#" + id);
            $.ajax({
                cache: false,
                type: "GET",
                url: "@Url.Action("VarianceDetail")",
                data: { customerCode: customerCode, "etd": sendDate, bundleNo: bundlerNo, containerType: containerType, containerNo: container, guid: guid },
                success: function (data) {
                    detailDiv.html('');
                    detailDiv.html(data);
                    $("." + id).toggle();

                    if ($(btn).text() == "-") {
                        $(btn).html("+");
                    } else {
                        $(btn).text("-");
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve detail.');
                }
            });
        }
        function loadOrderDetail(sendDate, customerCode, bundlerNo, containerType, container, id, btn) {
            if ($(btn).text() == "-") {
                $("." + id).toggle();
                $(btn).html("+");
                return;
            }
            var detailDiv = $("#order" + id);
            $.ajax({
                cache: false,
                type: "GET",
                url: "@Url.Action("Order")",
                data: { customerCode: customerCode, "etd": sendDate, bundleNo: bundlerNo, containerType: containerType, containerNo: container },
                success: function (data) {
                    detailDiv.html('');
                    detailDiv.html(data);
                    $("." + id).toggle();

                    if ($(btn).text() == "-") {
                        $(btn).html("+");
                    } else {
                        $(btn).text("-");
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve detail.');
                }
            });
        }
        function loadShipmentDetail(sendDate, customerCode, bundlerNo, containerType, container, id, btn) {
            if ($(btn).text() == "-") {
                $("." + id).toggle();
                $(btn).html("+");
                return;
            }
            var detailDiv = $("#shipment" + id);
            $.ajax({
                cache: false,
                type: "GET",
                url: "@Url.Action("Shipment")",
                data: { customerCode: customerCode, "etd": sendDate, bundleNo: bundlerNo, containerType: containerType, containerNo: container },
                success: function (data) {
                    detailDiv.html('');
                    detailDiv.html(data);
                    $("." + id).toggle();

                    if ($(btn).text() == "-") {
                        $(btn).html("+");
                    } else {
                        $(btn).text("-");
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve detail.');
                }
            });
        }

    </script>
}


