@{
    Layout = null;
}

@model JonLong.CRM.Web.Models.VarianceDetailViewModel
<style>
    .table_b td {
        border: 1px solid #696969;
    }

    .table_b th {
        border: 1px solid #696969;
    }
</style>

<table class="table_b">
    <tr class="alt-row">
        <th>
            Task
        </th>

        @{
            int sizeTypeCount = 18;
            if (Model.ShoeSizes.Count < sizeTypeCount)
            {
                sizeTypeCount = Model.ShoeSizes.Count;
            }
        }
        <th>Model No.</th>
        <th>Total</th>
        @for (int i = 0; i < sizeTypeCount; i++)
        {
            <th style="font-weight:200">
                @Model.ShoeSizes[i]
            </th>
        }
        <th>Original ETD</th>
        <th>Contract Number</th>
    </tr>
    @{
        int j = 0;
        string trclass = "";
        string fontColor = "";
    }
    @foreach (var item in Model.VarianceDetails)
    {
        if (j % 2 == 0)
        {
            trclass = "";
        }
        else
        {
            trclass = "alt-row";
        }
        <tr class="@trclass">
            <td>
                @if(item.CYLX ==1){
                    <a href="@Url.Action("Confirm", "OrderVariance", new { id = @item.Id, guid=@Model.Guid, bundleno = @Model.BundleNo })">Confirm</a>
                    fontColor = "";
                }
                else
                {
                    fontColor = "color:red";
                    <a href="@Url.Action("Edit", "OrderVariance", new { id = @item.Id, guid=@Model.Guid, bundleno = @Model.BundleNo })">Deplay</a>@:&nbsp;&nbsp;
                    <a href="@Url.Action("Cancel", "OrderVariance", new { id = @item.Id, guid = @Model.Guid, bundleno = @Model.BundleNo })">Cancel</a>
                }
                   
            </td>
            
            <td>@item.ModelNo</td>
            <td style="@fontColor">@item.Total</td>
            <td style="@fontColor">
                @if (item.Size1 > 0)
                {
                    @item.Size1
                }
            </td>
            <td style="@fontColor">
                @if (item.Size2 > 0)
                {
                    @item.Size2
                }
            </td>
            <td style="@fontColor">
                @if (item.Size3 > 0)
                {
                    @item.Size3
                }
            </td>
            <td style="@fontColor">
                @if (item.Size4 > 0)
                {
                    @item.Size4
                }
            </td>
            <td style="@fontColor">
                @if (item.Size5 > 0)
                {
                    @item.Size5
                }
            </td>
            <td style="@fontColor">
                @if (item.Size6 > 0)
                {
                    @item.Size6
                }
            </td>
            <td style="@fontColor">
                @if (item.Size7 > 0)
                {
                    @item.Size7
                }
            </td>
            <td style="@fontColor">
                @if (item.Size8 > 0)
                {
                    @item.Size8
                }
            </td>
            <td style="@fontColor">
                @if (item.Size9 > 0)
                {
                    @item.Size9
                }
            </td>
            <td style="@fontColor">
                @if (item.Size10 > 0)
                {
                    @item.Size10

                }
            </td>
            <td style="@fontColor">
                @if (item.Size11 > 0)
                {
                    @item.Size11
                }
            </td>
            <td style="@fontColor">
                @if (item.Size12 > 0)
                {
                    @item.Size12
                }
            </td>
            <td style="@fontColor">
                @if (item.Size13 > 0)
                {
                    @item.Size13
                }
            </td>
            <td style="@fontColor">
                @if (item.Size14 > 0)
                {
                    @item.Size14
                }
            </td>
            <td style="@fontColor">
                @if (item.Size15 > 0)
                {
                    @item.Size15
                }
            </td>
            <td style="@fontColor">
                @if (item.Size16 > 0)
                {
                    @item.Size16
                }
            </td>
            <td style="@fontColor">
                @if (item.Size17 > 0)
                {
                    @item.Size17
                }
            </td>
            <td style="@fontColor">
                @if (item.Size18 > 0)
                {
                    @item.Size18
                }
            </td>
            <td>@item.SendDate.ToShortDateString()</td>
            <td>@item.ContractNo</td>
        </tr>
                j++;
    }
    <tr style="background-color:#D3D3D3">
        <td></td>
        <td id="orderCount">@Model.VarianceCount</td>
        <td id="total">@Model.Total</td>
        <td id="size1total">@Model.Size1Total</td>
        <td id="size2total">@Model.Size2Total</td>
        <td id="size3total">@Model.Size3Total</td>
        <td id="size4total">@Model.Size4Total</td>
        <td id="size5total">@Model.Size5Total</td>
        <td id="size6total">@Model.Size6Total</td>
        <td id="size7total">@Model.Size7Total</td>
        <td id="size8total">@Model.Size8Total</td>
        <td id="size9total">@Model.Size9Total</td>
        <td id="size10total">@Model.Size10Total</td>
        <td id="size11total">@Model.Size11Total</td>
        <td id="size12total">@Model.Size12Total</td>
        <td id="size13total">@Model.Size13Total</td>
        <td id="size14total">@Model.Size14Total</td>
        <td id="size15total">@Model.Size15Total</td>
        <td id="size16total">@Model.Size16Total</td>
        <td id="size17total">@Model.Size17Total</td>
        <td id="size18total">@Model.Size18Total</td>
        <td colspan="2"></td>
    </tr>
</table>
<script>
    function deleteOrder(id) {
        if (!confirm("This will delete this model from this bundle, are you sure?")) {
            return;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("Delete") ',
            data: ({ id: id }),
            datatype: 'json',
            success: function (data) {
                if (data != 1) {
                    alert(data);
                    return;
                } else {
                    window.location.href = '@Url.Action("Index")';
                }

            }
        });
    }


</script>