@using JonLong.CRM.Web.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jon Long CRM</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.css")" type="text/css" media="screen" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/reset.css")" type="text/css" media="screen" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/style.css?v=1")" type="text/css" media="screen" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>

    @RenderSection("head", required: false)
</head>
<body>
    <div id="body-wrapper" >
        <!-- Wrapper for the radial gradient background -->
        <div id="sidebar" >
            <div id="sidebar-wrapper">
                <!-- Sidebar with logo and menu -->
                <h1 id="sidebar-title">
                    <a href="@Url.Action("index","home")">Jonlong CRM</a>
                </h1>
                <!-- Logo (221px wide) -->
                <a href="#">
                    <img id="logo" src="@Url.Content("~/Content/images/logo.jpg")" alt="Jonlong logo" />
                </a>
                <!-- Sidebar Profile links -->
                <div id="profile-links">
                    Hello, <a href="@Url.Action("EditProfile","User")" title="Edit your profile">
                        @{
                            var user = AccountHelper.GetCurrentUser();
                            if (user == null)
                            {
                                user = new JonLong.CRM.Models.User();
                            }
                        }
                        @user.CustomerName (@user.LoginName)
                    </a><br />
                    <br />
                    <label style="color:white; font-size:larger">@DateTime.Now.ToString("yyyy-MM-dd")</label>&nbsp;&nbsp;|
                    <a href="@Url.Action("LogOff", "Account")" title="Sign Out">
                        Sign
                        Out
                    </a>
                </div>
                <ul id="main-nav" style="overflow-y: auto; height: 600px; overflow-x:hidden">
                    <!-- Accordion Menu -->
                    <li>
                        <a href="@Url.Action("index","home")" class="nav-top-item no-submenu current">
                            <!-- Add the class "no-submenu" to menu items with no sub menu -->
                            Index
                        </a>
                    </li>
                    @if (AccountHelper.IsAllowed("order") || AccountHelper.IsAllowed("Enroute") || AccountHelper.IsAllowed("Arrived"))
                    {
                        <li>
                            <a href="javascript:;" class="nav-top-item">
                                <!-- Add the class "current" to current menu item -->
                                Daily Operation
                            </a>
                            <ul>
                                @if (AccountHelper.IsAllowed("order"))
                                {
                                    <li><a href="@Url.Action("index","Order")">Order & Forecast</a></li>
                                }
                                @if (AccountHelper.IsAllowed("PreLoadCabinet"))
                                {
                                    <li><a href="@Url.Action("index","PreLoadCabinet")">Cabinet Preload</a></li>
                                }
                                @if (AccountHelper.IsAllowed("Enroute"))
                                {
                                    <li><a href="@Url.Action("index","Enroute")">En route</a></li>
                                }
                                @if (AccountHelper.IsAllowed("Arrived"))
                                {
                                    <li><a href="@Url.Action("index","Arrived")">Arrived</a></li>
                                }

                            </ul>
                        </li>
                    }
                    @if (AccountHelper.IsAllowed("OrderVariance"))
                    {
                        <li>
                            <a href="javascript:;" class="nav-top-item">Customer Reconciliation </a>
                            <ul>
                                <li><a href="@Url.Action("Index","OrderVariance")">Order Variance Reconciliation</a></li>
                            </ul>
                        </li>
                    }

                    @if (AccountHelper.IsAllowed("JLWarehouse") || AccountHelper.IsAllowed("CustomerWarehouse"))
                    {
                        <li>
                            <a href="javascript:;" class="nav-top-item">Logistics </a>
                            <ul>
                                @if (AccountHelper.IsAllowed("JLWarehouse"))
                                {
                                    <li><a href="@Url.Action("index","JLWarehouse")">JONLONG warehouse</a></li>
                                }
                                @if (AccountHelper.IsAllowed("CustomerWarehouse"))
                                {
                                    <li><a href="@Url.Action("index","CustomerWarehouse")">Customer warehouse</a></li>
                                }

                            </ul>
                        </li>
                    }


                    <li>
                        <a href="javascript:;" class="nav-top-item">Settings </a>
                        <ul>
                            @if (AccountHelper.IsAllowed("Role"))
                            {
                                <li><a href="@Url.Action("index","Role")">Role</a></li>
                            }
                            @if (AccountHelper.IsAllowed("User"))
                            {
                                <li><a href="@Url.Action("index","User")">User</a></li>
                            }
                            <li><a href="@Url.Action("EditProfile","User")">Update Password</a></li>
                        </ul>
                    </li>

                </ul>

            </div>
        </div>

        <div id="main-content">
            <!-- Page Head -->
            @RenderBody()
           
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
